body{
    background-color: #363636;
}
div#calculadora{
    background-color: #808080;
    width: 300px;
    height: 500px;
    margin: auto;
    position: relative;
    padding: 10px;
}
 #resultado{
    background-color: white;
    width: 280px;
    height: 43px;
    padding: 25px 10px 25px 10px;
    margin: auto;
    margin-bottom: 10px;
    overflow-wrap: break-word;
    overflow: hidden
}
#container{
    display: flex;
    flex-direction: column;
}
#delete{
    width: 70px;
    height: 70px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSg3o2HyXLZJ3xDkqu9VjdKJx8ddujeZLlgA&s");
    background-repeat: no-repeat;
    background-size: 45px;
    background-position-x: center;
    background-position-y: center;
}
.carac input{
    width: 71.2px;
    height: 70px;
    font-size: large;
}
#equal{
    height: 50px;
    font-size: large;
}